<h1>Pages#home</h1>
<p>I made a home page!!</p>

<%= link_to "Games", games_path %>
<%= link_to "Studios", studios_path %>
<%= link_to "Characters", root_path %>

<p>If this doesnt show up im kicking weston in the westicles</p>

<div></div>

<div>

</div>

<div>
