@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";

.custom-nav {
  margin-top: 15px;
}

.gallery-img {
	max-width:500px;
  	max-height:500px;
  	width: auto;
  	height: auto;
}

.custom-row {
	height:500px;
	text-align: center;
	vertical-align: middle;
	line-height: 500px;  
}