<h2>Welcome to <%= "#{@studio.title}" %></h2>

<%= link_to "Edit Studio Listing", edit_studio_path if logged_in?(:admin) %>
<div><%= link_to "Delete Studio Listing", @studio, method: :delete, data:  {confirm: "Are you sure you want to delete?"} if logged_in?(:admin) %></div>

<div><%= @studio.location %></div>


